
html, body {
    margin: 0;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background: #3FA34D;
    color: #fff;
}

.titulo {
    text-align: center;

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.conteudo button {
    border: 1px solid #2A9134;
    border-radius: 20px;
    background: #2A9134;
    color: #fff;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 15pt;

    padding: 10px;
}

.conteudo #textoOriginal {
    height: 350px;
    width: 620px;

    background: #2A9134;
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18pt;

    border: #2A9134 solid 1px;
    border-radius: 10px;

    padding: 10px;
}

.conteudo p {
    font-size: 15pt;
}

.conteudo #resultado {
    margin: 0 1%;
    padding: 5px;

    font-size: 16pt;

    border: 1px solid #137547;
    border-radius: 15px;
    background: #137547;
}

::placeholder {
    color: #fff;
    font-size: 18pt;
}