
html, body {
    margin: 0;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background: #fff;
    color: #2A9134;
}

.titulo {
    text-align: center;

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.conteudo div button {
    border: 1px solid #2A9134;
    border-radius: 20px;
    background: #2A9134;
    color: #fff;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 15pt;

    padding: 10px;
    margin: 0 5px;

    transition: background-color 0.5s ease-in-out;
}

.conteudo div button:hover {   
    background: #5BBA6F;
    border: 1px solid #5BBA6F;
    border-radius: 15px;
}

.conteudo #nbtClean {
    height: 45vh;
    width: 45vw;

    background: #2A9134;
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18pt;

    border: #2A9134 solid 1px;
    border-radius: 10px;

    padding: 10px;
}

.conteudo #resultado {
    margin: 0 auto;
    padding: 1vh 3vh;

    width: auto;
    max-width: 180vh;
    height: auto;

    font-size: 16pt;

    border: 1px solid #137547;
    border-radius: 15px;
    background: #137547;
    color: #fff;
    overflow: hidden;
}

::placeholder {
    color: #fff;
    font-size: 18pt;
}

.final p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.final p a {
    text-decoration: none;
    color: #2A9134;
}

 @media only screen and (max-width: 850px) {

    .conteudo #resultado {
        margin: 0 1vh;
        padding: 1vh 3vh;
    
        width: 50%;
        max-width: 50%;
        height: auto;
    
        font-size: 16pt;
    
        border: 1px solid #137547;
        border-radius: 15px;
        background: #137547;
        color: #fff;
        overflow: hidden;
    }
} 

